<script id="userTmpl" type="text/x-jquery-tmpl">
    <tr id="${Id}">
        <td>${FirstName}</td>
        <td>${LastName}</td>
        <td>${Email}</td>
        <td>${PhoneNumber}</td>
        <td>${Role}</td>
    </tr>
</script>

<div class="row">
    <div class="col-md-12">
        <h3>Users</h3>
        <div class="text-right" style="margin-bottom: 10px">
            <button type="button" class="btn btn-primary" id="btnAddAcc" from="Users">Add New Acoount</button>
            <button type="button" class="btn btn-primary" id="btnDeleteAcc">Delete Acoount</button>
        </div>
        <table class="table table-striped bg-info">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody id="UsersTable"></tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundle/admin")
